* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    overflow: hidden;
    background: url("../assets/images/congruent_outline.png") repeat 0 0;
}

h2 {
    font-family: "Merriweather", "Roboto", sans-serif;
    margin-top: 15px;
}

#github-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

#nko-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
    box-shadow: 0 0 5px #fff;
}

#form {
    opacity: 0;
    width: 800px;
    height: 450px;
    line-height: 450px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#form input {
    text-align: center;
    font-size: 36px;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px #fff;
    border-radius: 6px;
    outline: none;
}

#area {
    border: 1px solid #000;
    width: 800px;
    height: 450px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 20px #000;
    border-radius: 6px;
}

#area canvas {
    float: left;
    border-radius: inherit;
}

@media (max-width: 500px) {
    #github-ribbon {
        display: none;
    }

    #nko-badge {
        display: none;
    }

    #area {
        transform: translateX(-200px) rotate(-90deg);
    }
}
